* {
  outline: 1px solid rgb(81, 82, 81);
}

.cooler_lesson_card_btn {
  background-color: var(--main);
  box-shadow: 6px 6px 0 0 #61dafb82;
  cursor: pointer;
}

.cooler_lesson_card_name {
  color: aliceblue;
  background-color: black;
  width: 20%;
  font-weight: 600;
}

.cooler_lesson_card {
  transition: 0.6s;
}

.cooler_lesson_card_collect svg {
  color: red;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.cooler_lesson_card:hover {
  background-color: #373737;
  transform: scale(1.05, 1.3);
  h5,
  .cooler_lesson_card_quota {
    color: white;
  }

  .cooler_lesson_card_name {
    color: black;
    background-color: white;
  }
}

.cooler_lesson_card {
  padding: 0.5rem;
}

.cooler_lesson_card_book {
  // text-decoration: none;
  border: none;
  background-color: var(--main);
}

.cooler_lesson_card_title_collect > .cooler_lesson_card_collect {
  display: none !important;
}

//-------------------RWD--------------------
@media (max-width: 1930px) {
  .cooler_lesson_card {
    p,
    span,
    button {
      font-size: xx-small !important;
    }
  }
}

@media (max-width: 1500px) {
  .cooler_lesson_card_quota {
    font-size: small;
  }

  .cooler_lesson_card h5 {
    font-size: small;
  }
}

@media (max-width: 1225px) {
  .cooler_lesson_card_quota {
    font-size: x-small;
  }
}

@media (max-width: 500px) {
  .cooler_lesson_card {
    p,
    span,
    button {
      font-size: xx-small;
    }
  }

  .cooler_lesson_card_quota_number {
    width: 20%;
    line-height: 2rem;
    justify-content: space-between !important;
  }

  .cooler_lesson_card_category_price {
    flex-direction: row !important;
    padding-top: 5%;
  }

  .cooler_lesson_card_collect {
    display: none;
  }

  .cooler_lesson_card_title_collect > .cooler_lesson_card_collect {
    display: block !important;
  }
}
