.cooler_card_img {
  background: url(../../../Images/Lesson/l01.jpg) no-repeat;
  background-size: 100% 100%;
}

* {
  // outline: thin solid rgb(237, 9, 9);
}

.cooler_card_wrap {
  height: 120%;
}

.cooler_gray {
  color: #979797;
}

.cooler_lesson_position {
  padding-top: 4%;
}
