.adminTable {
    table {
      // border-collapse: collapse;
      border-radius: 20px 20px 0 0;
      // border: 1px solid var(--main);
      width: 100%;
      background: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
    }

    th {
      text-align: center;
      padding-top: 12px;
      padding-bottom: 12px;
      color: white;
      background: black;
    }

    .thLeft {
      border-radius: 20px 0px 0 0;
    }

    .thRight {
      border-radius: 0px 20px 0 0;
    }

    tbody {
      display: block;
      height: 100%;
      overflow-y: scroll;
      background: rgba(0, 0, 0, 0.774);
      font-weight: 600;
      color: var(--main);
    }
    tbody::-webkit-scrollbar {
      width: 5px;
      height: 0px;
    }

    tbody::-webkit-scrollbar-thumb {
      background-color: white;
    }

    td {
      text-align: center;
      border-bottom: 1px solid var(--main);
      padding: 8px;
    }

    tr {
      width: 100%;
      display: table;
      table-layout: fixed;
    }

    .trHover:hover {
      background-color: rgb(250, 167, 167);
      color: black;
    }
}