.LoginLogoBox {
    height: 100%;
    .LoginLogoBoxText {
        color: white;
        width: 100%;
        font-size: 3.5rem;
        font-weight: 600;
        text-shadow: 4px 4px 4px var(--main);
    }
}