* {
    // outline: 1px solid red;
}

.memberInformationWrap {
    overflow: hidden;
    .memberInformationTrain {
        transform: translateY(-100%);
        transition: 0.5s ease;
    }
    .memberEdit {
        p {
            margin-bottom: 0;
        }
    }
}