

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-prev, .swiper-button-next {
  transition: .3s ease;
}
.swiper-button-prev:hover, .swiper-button-next:hover{
  transform: scale(1.5);
}
.swiper-button-prev::after{
  content: '⇦'!important;
  font-size:1.8rem!important;
  color: black!important;
  font-family: none!important;
}
.swiper-button-next::after{
  content: '⇨'!important;
  font-size:1.8rem!important;
  color: black!important;
  font-family: none!important;
}
.HomeBg2 {
  background:url(../../Images/Home/HomeBg/HomeBg2.png);
  filter: brightness(1);
  background-size: cover;
  /* opacity: .8; */
  }
  .HomeBg3 {
    background:url(../../Images/Home/HomeBg/HomeBg3.png);
    filter: brightness(1);
    background-size: cover;
    /* opacity: .8; */
    }
    .HomeBg4 {
      background:url(../../Images/Home/HomeBg/HomeBg4.png);
      filter: brightness(1);
      background-size: cover;
      /* opacity: .8; */
      }
      .HomeBg5 {
        background:url(../../Images/Home/HomeBg/HomeBg5.png);
        filter: brightness(1);
        background-size: cover;
        /* opacity: .8; */
        }
        .HomeBg6 {
          background:url(../../Images/Home/HomeBg/HomeBg6.png);
          filter: brightness(1);
          background-size: cover;
          /* opacity: .8; */
          }
          .HomeBg7 {
            background:url(../../Images/Home/HomeBg/HomeBg7.png);
            filter: brightness(1);
            background-size: cover;
            /* opacity: .8; */
            }