.cus-canvas{
    position: absolute;
    z-index: 5;
}
.cus-add{
    display: flex;
    margin: 12px;
    flex-wrap: wrap;
}
.cus-add-img{
    width: 48px;
    height: 48px;
    object-fit:cover;
    border-radius: 50px;
    outline: 1px solid rgb(178, 178, 178);
    margin-left: 8px;
    

}
.scale{
    transform:scale(.8);
    height: 100%;
    transform-origin: top right;
    
}

@media only screen and (min-width: 768px) {
    .scale{
        height: 100%;
        transform:scale(1);
        // outline: 1px solid lightgreen;
    }
    
  }