
.cus_matte{
    background-color: rgb(79, 79, 82);
    position: absolute;
    z-index: -2;
    
    mask:url(../../Images/Customized/cus_bg_mask.svg);
    mask-size: cover;
    overflow: hidden;
    
}

.cus-bg{
    object-fit: cover;
}

.cus_board_main{
    width: 100%;
    height: auto;
}
.cus_card{
    width: 100%;
    position: fixed;
    right: auto;
    bottom: 0;
    margin-right: auto;
}
.cus_main_card{
    width: 100%;
    padding: 48px;
    background-color: black;
}




























@media only screen and (min-width: 768px) {
   
    .cus_board_main{
        width: auto;
        height: 100%;
        
    }

    .cus_card{
      width: auto;
      position: absolute;
      z-index: 5;
      right: 0;
      bottom: 40%;
      margin-right: 24px;
}
    
  
  }

