
.cus_matte{
    background-color: rgb(79, 79, 82);
    position: absolute;
    z-index: -2;
    
    mask:url(../../Images/Customized/cus_bg_mask.svg);
    mask-size: cover;
    overflow: hidden;
    
}

.cus-bg{
    object-fit: cover;
    
}

.cus_board_main{
    width: 100%;
    height: auto;
}

.main_img_container{
    width: 100%;
    height: 60%;
   
}

.cus_main_card{
    width: 100%;
    
    padding: 24px;
    background-color: black;
}

.cus_product_card{
    width: 100%;
    padding: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    box-shadow: 10px 10px 0 0 black;
}

.viv-btn{
    padding: .5em 2em .5em 2em; 
    background-color: var(--main); 
    box-shadow: 3px 3px 0 0 #61dafb82;
    border: none;
    transition: 1s ease;
    margin-right: 16px;
    margin-top: 24px;
    text-decoration: none;
   
   
}

.viv-btn:hover{
    box-shadow: 8px 8px 0 0 #61dafbd2;
    background-color: black;
    color: var(--main);
    border: 1px solid var(--main);

}

.viv-p{
    font-weight: 100;
    font-size: 14px;
    color: white;
    margin-bottom: 0px;
}



.cus-product-container{
    width: 100%;
    height: auto;
    /* border: 1px solid lightcoral; */
}

.cus-product-matte{
    background-color: rgb(79, 79, 82);
    mask:url(../../Images/Customized/skateboard_fram.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    overflow: hidden;
    width: 100%;
    
}

input {
    border: none; /* Removes the default border */
    }
    
input:focus {
    outline: none /* Removes the border when the input is clicked */
    }


.viv-input{
    width: 100%;
    padding-top: 16px;
    border-bottom: 1px solid gray;
}


.skbtn-prev{
    min-width: 64px;
    min-height: 64px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    outline: 1px solid black;
    background-image: url(../../Images/Customized/arrow_prev.svg);
    background-position: center;
    background-size: cover;
    transition: .5s ease;
    margin: 12px;
    
}

.skbtn-prev:hover{
    background: rgba(0, 0, 0, 1);
    
    background-image: url(../../Images/Customized/arrow_prev_w.svg);
    
    background-position: center;
    background-size: cover;
   

    
    
}

.skbtn-next{
    min-width: 64px;
    min-height: 64px;
    background: rgba(255, 255, 255, .5);
    border-radius: 100%;
    outline: 1px solid black;
    background-image: url(../../Images/Customized/arrow_next.svg);
    background-position: center;
    background-size: cover;
    transition: .5s ease;
    margin: 12px;
    
}

.skbtn-next:hover{

    background: rgba(0, 0, 0, 1);
    background-image: url(../../Images/Customized/arrow_next_w.svg);
    background-position: center;
    background-size: cover;
   

    
    
}

.step-control{
   
    padding: 0px 12px;
}
.cus_card_container{
    position: absolute;
    z-index: 15;
   
    bottom: 0;
    height: 40%;
    width: 100%;
   
}

.cus_card{
    width: 100%;
   
    margin-right: 24px;
    padding: 24px;
   
  }



































@media only screen and (min-width: 768px) {
    .cus_container{
        position: relative;
        /* border: 1px solid gray; */
        display: flex;
        justify-content: end;
        padding: 48px;
        
    }

.main_img_container{
    width: 100%;
    height: 100%;
    /* border: 1px solid lightcoral; */
}

   
    .cus_board_main{
        width: auto;
        height: 100%;
        
    }

    

    .viv-p{
        margin-bottom: 24px;
    }
    

    .cus_main_card{
        
        padding: 48px;
       
    }

    .cus-product-container{
        width: 50%;
        height: 100vh;
        
    }

    .cus_product_card{
        width: 500px;
        /* border:1px solid lightgreen; */
       
    }

    .cus_card_container{
        position: absolute;
        z-index: 10;
        right: 0;
        top:0;
        height: 100%;
        width: 60%;
        /* border: 1px solid lightcoral; */

    }
    .cus_card{
        /* border: 1px solid lightsalmon; */
        display: flex;
        justify-content: end;

       
      }



    

    .step-control{
        display: flex;
        justify-content: end;
        margin-top: 48px;
        
        padding: 24px 48px 24px 48px;
    }

   
    
  
  }

