.carts-bg {
  background: url(../../Images/Orders/bg01.svg);
  background-size: cover;
}

/* * {
  outline: 1px solid black;
} */

.tabs-section {}

.carts-section {}

.total-count-section {}

@media screen and (max-width: 768px) {
  .carts-bg {
    background: url(../../Images/Orders/bg03.svg);
    background-position: 1 0;
    background-size: cover;
  }

  .tabs-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 15%;
  }

  .carts-selection {
    border: none;
    border-bottom: .5px solid black;
  }

  .carts-card-section {
    background-color: rgb(95, 93, 93);
    min-height: 85%;
  }

  .carts-card-wrap {
    width: 90%;
  }

  .total-count-section {
    position: fixed;
    background-color: antiquewhite;
    bottom: 0;
    height: 125px;
  }
}