.cursorpointer {
    cursor: pointer;
}

.LoginBox {
    width: 100%;
    position: absolute;
    top: 80px;
    height: calc(100vh - 80px);
    background: #2D2D2D;
}


.LoginCarousel {
    display: none;
    background: #2D2D2D;
    z-index: 5;
}

.LoginCard {
    position: relative;
    transition: 1.5s;
    transform-style: preserve-3d;
    .LoginFront {
        position: absolute;
        backface-visibility: hidden;
    }
    .LoginBack {
        position: absolute;
        transform: rotateY(-180deg);
        // transform: rotateX(-180deg);
        backface-visibility: hidden;
    }
}

.LoginCardRotate {
    // transform: rotateX(-180deg);
    transform: rotateY(180deg);
}

.LoginInputsBox {
    color: white;
    background: #2D2D2D;
    .LoginLogoBox {
        height: 15%;
        .LoginLogoBoxText {
            font-size: 3rem;
            font-weight: 600;
            text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, black 0px 0px 20px, gray 0px 0px 30px, black 0px 0px 40px, gray 0px 0px 50px, gray 0px 0px 75px;
        }
    }
    .LoginForm {
        height: 65%;
        .rwdNoneBlock {
            display: none;
        }
        .LoginFormBox {
            margin-bottom: 0;
        }
        .loginAvatar {
            aspect-ratio: 1/1;
            border-radius: 50%;
            object-fit: cover;
        }
        .LoginFormAccountPassword {
            font-size: 1.5rem;
            text-shadow: 3px 5px 2px #2d0096;
        }
        input,textarea {
            font-size: 1.2rem;
            border: 1px solid white;
            border-radius: 25px;
            background-color: #ffffffcf;
        }
        .passwordEyes {
            display: none;
        }
        .LoginSignUp {
            margin-top: 0;
        }
    }
    .ForgotAdmin {
        height: 17%;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--main);
    }

    .ForgotAdmin p:nth-child(1):hover {
        font-weight: 600;
        font-size: 2rem;
        text-shadow: 2px 2px 0px var(--main);
    }

    .ForgotAdmin p:nth-child(2):hover {
        font-weight: 600;
        font-size: 2rem;
        text-shadow: 2px 2px 0px var(--main);
    }
}

@media screen and (min-width: 1200px) {
    .LoginBox{
        display: flex;
        top: 88px;
        height: calc(100% - 88px);
    }
    .LoginCarousel {
        display: block;
    }
    .LoginInputsBox {
        background: linear-gradient(to right, #2D2D2D 0%, #2D2D2D 50%, #555555 100%);
        .LoginLogoBox {
            height: 15%;
            .LoginLogoBoxText {
                font-size: 3.8rem;
            }
        }
        .LoginForm {
            .rwdNoneBlock {
                display: block;
            }
            .LoginFormAccountPassword {
                font-size: 1.5rem;
            }
            input,textarea {
                font-size: 1rem;
                height: 30px;
                width: 40%;
            }
            .passwordInput {
                position: relative;
            }
            .passwordEyes {
                display: block;
                position: absolute;
                width: 25px;
                right: 31%;
            }
            .FbLineGoogle {
                margin-left: 20%;
                width: 60%;
            }
            .LoginSignUp {
                margin-top: 35px;
            }
        }
    }
}