.cursorpointer {
  cursor: pointer;
}

.LoginBox {
  width: 100%;
  position: absolute;
  top: 80px;
  height: calc(100vh - 80px);
  background: #2D2D2D;
}

.LoginCarousel {
  display: none;
  background: #2D2D2D;
  z-index: 5;
}

.LoginCard {
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;
}
.LoginCard .LoginFront {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.LoginCard .LoginBack {
  position: absolute;
  transform: rotateY(-180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.LoginCardRotate {
  transform: rotateY(180deg);
}

.LoginInputsBox {
  color: white;
  background: #2D2D2D;
}
.LoginInputsBox .LoginLogoBox {
  height: 15%;
}
.LoginInputsBox .LoginLogoBox .LoginLogoBoxText {
  font-size: 3rem;
  font-weight: 600;
}
.LoginInputsBox .LoginForm {
  height: 65%;
}
.LoginInputsBox .LoginForm .rwdNoneBlock {
  display: none;
}
.LoginInputsBox .LoginForm .LoginFormBox {
  margin-bottom: 0;
}
.LoginInputsBox .LoginForm .loginAvatar {
  aspect-ratio: 1/1;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: white;
}
.LoginInputsBox .LoginForm .LoginFormAccountPassword {
  font-size: 1.5rem;
  text-shadow: 3px 5px 2px #2d0096;
}
.LoginInputsBox .LoginForm input, .LoginInputsBox .LoginForm textarea {
  font-size: 1.2rem;
  color: white;
  background-color: transparent;
  border: none; /* Removes the default border */
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}
.LoginInputsBox .LoginForm input:focus {
  outline: none;
}
.LoginInputsBox .LoginForm .passwordEyes {
  display: none;
}
.LoginInputsBox .LoginForm .LoginSignUp {
  margin-top: 0;
}
.LoginInputsBox .ForgotAdmin {
  padding-top: 40px;
  height: 17%;
  font-size: 1rem;
  font-weight: 600;
  color: var(--main);
}
.LoginInputsBox .ForgotAdmin p:nth-child(1):hover {
  font-weight: 600;
  font-size: 2rem;
  text-shadow: 2px 2px 0px var(--main);
}
.LoginInputsBox .ForgotAdmin p:nth-child(2):hover {
  font-weight: 600;
  font-size: 2rem;
  text-shadow: 2px 2px 0px var(--main);
}

@media screen and (min-width: 1200px) {
  .LoginBox {
    display: flex;
    top: 88px;
    height: calc(100% - 88px);
  }
  .LoginCarousel {
    display: block;
  }
  .LoginInputsBox {
    background: linear-gradient(to right, #2D2D2D 0%, #2D2D2D 50%, #555555 100%);
  }
  .LoginInputsBox .LoginLogoBox {
    height: 15%;
  }
  .LoginInputsBox .LoginLogoBox .LoginLogoBoxText {
    font-size: 3.8rem;
  }
  .LoginInputsBox .LoginForm {
    padding-top: 3%;
  }
  .LoginInputsBox .LoginForm .rwdNoneBlock {
    display: block;
  }
  .LoginInputsBox .LoginForm .LoginFormAccountPassword {
    font-size: 1rem;
  }
  .LoginInputsBox .LoginForm input, .LoginInputsBox .LoginForm textarea {
    font-size: 1rem;
    height: 30px;
    width: 40%;
  }
  .LoginInputsBox .LoginForm .passwordInput {
    position: relative;
  }
  .LoginInputsBox .LoginForm .passwordEyes {
    display: block;
    position: absolute;
    width: 25px;
    right: 31%;
  }
  .LoginInputsBox .LoginForm .FbLineGoogle {
    margin-left: 20%;
    width: 60%;
  }
  .LoginInputsBox .LoginForm .LoginSignUp {
    margin-top: 35px;
  }
}/*# sourceMappingURL=Login.css.map */