.od-bg {
    background: url(../../Images/Orders/bg01.svg);
    background-size: cover;
}

* {
    outline: thin solid black;
}

@media screen and (max-width: 768px) {
    .od-bg {
        background: url(../../Images/Orders/bg03.svg);
        background-size: cover;
    }
}