.carts-bg {
    background: url(../../Images/Orders/bg01.svg);
    background-size: cover;
}

// * {
//     outline: thin solid black;
// }

.order-search-wrap {
    width: 150px;
    height: 100%;
    position: absolute;
    right: 30px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .carts-bg {
        /* background: none; */
        background: url('../../Images/Orders/Frame\ 56\ \(2\).png');
        background-position: 1 0;
        background-size: cover;
    }
}