.carts-bg {
    background: url(../../Images/Orders/bg01.svg);
    background-size: cover;
}

// * {
//     outline: thin solid black;
// }

@media screen and (max-width: 768px) {
    .carts-bg {
        /* background: none; */
        background: url('../../Images/Orders/Frame\ 56\ \(2\).png');
        background-position: 1 0;
        background-size: cover;
    }
}