.memberAvatarForm {
    img {
        object-fit: cover;
        border-radius: 50%;
        aspect-ratio: 1/1;
    }
    button {
        font-size: .8rem;
        font-weight: 700;
        background-color: black;
        color: var(--main);
        transition: .3s ease;
    }

    button:hover {
        color: var(--main);
        transform: translateX(-2px) translateY(-2px);
        box-shadow: 4px 4px 0px 0px #047d92;
    }
}