.favoriteCard {
    cursor: pointer;
    height: 20%;
    // background: rgba(0, 0, 0, 0.770);
    // color: white;
    // border: 3px solid var(--main);
    // border: 1px solid black;
    transition: .3s;
    box-shadow: 0px 0px 10px 0px #000000 inset;
    border-radius: 5px;
    // img {
    //     border-right: 1px solid black;
    // }
    p {
        font-size: 1rem;
    }
    h5 {
        font-size: 1rem;
    }
    .svgBox {
        width: 25%;
    }
    .deleteSvg {
        width: 50%;
        height: 50%;
        margin-right: 10%;
    }

    .deleteSvg:hover {
        height: 70%;
    }

    .cartSvg {
        width: 50%;
        height: 50%;
        margin-right: 5%;
     }

    .cartSvg:hover {
        height: 70%;
    }
}

.favoriteCard:hover {
    transform: translateY(-4px);
    // box-shadow: 2px 2px 12px 2px white;
    box-shadow: 5px 5px 15px 5px #000000;
    p {
        // font-size: 1rem;
        font-weight: 600;
        transform: skew(-10deg, 0deg);
    }
}

// 手機版
@media screen and (max-width: 1200px) {
    .favoriteCard {
        height: 17.5%;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.770);
        color: white;
        border: 1px solid var(--main);
        transition: .3s;
        box-shadow: 5px 5px 15px 5px #000000;
        img {
            border-right: 1px solid black;
        }
        p {
            font-size: 14px;
        }
        h5 {
            font-size: 15px;
        }
        .svgBox {
            width: 50%;
            padding-top: 5%;
        }
        .deleteSvg {
            height: 50%;
            margin-right: 10%;
        }

        .deleteSvg:hover {
            height: 70%;
        }

        .cartSvg {
            height: 50%;
            margin-right: 5%;
         }

        .cartSvg:hover {
            height: 70%;
        }
    }

    .favoriteCard:hover {
        transform: translateY(-4px);
        box-shadow: 2px 2px 12px 2px white;
        p {
            font-size: 1.2rem;
            font-weight: 600;
            transform: skew(-10deg, 0deg);
        }
    }
}
