.personal {
    background-color: rgba(0, 0, 0, 0.575);
    color: white;
    border-radius: 2%;
    button {
        padding: .5em 2em .5em 2em;
        background-color: var(--main);
        box-shadow: 3px 3px 0 0 #61dafb82;
        border: none;
        transition: 1s ease;
        text-decoration: none;
    }

    button:hover {
        box-shadow: 8px 8px 0 0 #61dafbd2;
        background-color: black;
        color: var(--main);
        border: 1px solid var(--main);
    }
}