.recordCard {
    cursor: pointer;
    height: 17.5%;
    background: rgba(0, 0, 0, 0.871);
    color: white;
    border: 1px solid var(--main);
    transition: .3s;
    box-shadow: 5px 5px 15px 5px #000000;
    img {
        border-right: 1px solid black;
    }
    .recordName {
        text-align: justify; // 文字左右切齊設定
        text-justify: inter-ideograph;
        word-wrap: break-word;
    }
    .recordProductsColor {
        height: 80%;
        border-radius: 50%;
        aspect-ratio: 1/1;
    }
    h5 {
        font-weight: 600;
    }
}

.recordCard:hover {
    transform: translateY(-4px);
    box-shadow: 2px 2px 12px 2px white;
    p {
        font-size: 1.2rem;
        font-weight: 600;
        transform: skew(-10deg, 0deg);
    }
}

@media screen and (max-width: 1200px) {
    .recordCard {
        P {
            font-size: 0.8rem;
            margin-bottom: 5px;
        }
        h5,h6 {
            height: 100%;
            margin: 0;
            font-size: 1rem;
        }
        h6 {
            padding-left: 3%;
        }
        h5 {
            padding-right: 3%;
        }
    }
}